@font-face {
  font-family: "HeaderFont";
  src: url("fonts/Fixture-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BodyFont";
  src: url("fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e4ecec;
  margin: 0;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 75px;
  height: auto;
}

.title {
  position: absolute;
  top: 22px;
  left: 120px;
  font-family: "HeaderFont";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-align: left;
}

.line-one {
  display: block;
  font-size: 35px;
}

.line-two {
  display: block;
  font-size: 35px;
}

.container {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 0px;
  background-color: #b9c7c6;
  border-radius: 10px;
  height: calc(100vh - 100px);
  width: calc(100% - 50px);
  box-sizing: border-box;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inner-container {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 330px;
  right: 0;
  background-color: #e4ecec;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
}

.my-task-button {
  position: absolute;
  bottom: 300px;
  padding: 15px 30px;
  background-color: #b9c7c6;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 350px;
  font-family: "BodyFont";
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-task-button.active {
  background-color: #e4ecec;
  color: #000000;
  cursor: default;
}

.my-task-button::before {
  content: ".";
  font-size: 40px;
  color: #000000;
  margin-right: 10px;
  display: inline-block;
  line-height: 1;
  transform: translateY(-8px);
}

.my-task-button:hover {
  background-color: #e4ecec;
}
